*{
    padding: 0;
    margin: 0;
}

body{
    color: rgba(245, 245, 245, 0.836);
    background-color: grey;
    font-size: 1.3rem;
    font-family: 'Sail', cursive;
}
p{
    margin-bottom: 0.5rem;
}
h1{
    color: rgb(24, 23, 23);
    font-size: 4rem;
    text-align: center;
    padding-bottom: 1rem;
    text-shadow: 3px 4px 3px rgb(90, 196, 48);
    font-family: 'Notable', sans-serif;
}
input{
    border: solid 1.5px black;
}
button{
    border-radius: 5px;
    padding: 2px;
}
.maintitle{
    margin-left: 29%;
    margin-right: 29%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.maincontainer{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.container1{
    margin-left:2rem;
    margin-right:2rem;
    padding: 1rem;
    border: solid 2px black;
    border-radius: 4px;
    background-color: rgba(0, 0, 255, 0.3);
}
.container2{
    margin-left:2rem;
    margin-right:2rem;
    padding: 1rem;
    border: solid 2px black;
    border-radius: 4px;
    background-color: rgba(255, 0, 0, 0.3);
}
.data{
    padding: 2rem;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(110, 108, 108);
}
